<% set_meta_tags title: @quiz.user.user_name + "さんのクイズ",
                 description: @quiz.content,
                 og: {
                   title: @quiz.user.user_name + "さんのクイズ | クイズパーティー",
                   description: @quiz.content,
                   image: ogp_images_url(text: @quiz.content)
                 }
%>

<div class="container mt-4">
  <section class="my-4">
    <%= render "shared/components/quiz_item", quiz: @quiz, page_views: @page_views %>
    <div class="mt-3">
      <h4>回答する</h4>
      <div id="comment_box">
        <%= render "shared/components/response_box", response: @response, quiz: @quiz %>
      </div>
    </div>
    <div id="answer_field"></div>
    <div class="mt-3" id="responses_link" style="display: none;">
      <%= link_to "みんなの回答を見る", quiz_responses_path(@quiz), class: 'btn btn-primary' %>
    </div>
  </section>
</div>