<div class="container mt-4">
  <section class="my-4">
    <h2 class="display-4">クイズ一覧</h2>
    <% @quizs.each do |quiz| %>
      <%#= render "shared/components/post_list_item", post: post %>
      hi
    <% end %>
    <%#= paginate @posts %>
  </section>
</div>