<% set_meta_tags title: @quiz.user.user_name + "さんのクイズ",
                 description: @quiz.content,
                 og: {
                   title: @quiz.user.user_name + "さんのクイズ | クイズパーティー",
                   description: @quiz.content,
                   image: ogp_images_url(text: @quiz.content)
                 }
%>

<div class="container mt-4">
  <section class="my-4">
    <%= render "shared/components/quiz_item", quiz: @quiz, page_views: @page_views %>
    <div class="mt-3">
      <h3>みんなの回答</h3>
      <div class="d-flex">
        <p class="mr-3">回答者数: <%= Response.where(quiz_id: @quiz.id).count %></p>
        <p>正答率 <%= @quiz.correct_answer_rate %>%</p>
      </div>
      <div id="comment_list">
        <%= render "shared/components/response_list", responses: @responses %>
      </div>
    </div>
  </section>
</div>