<div class="nested-fields d-flex my-2">
  <div class="mr-2">
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <div>
    <%= link_to_remove_association '削除', f, class: 'btn btn-default' %>
  </div>
</div>