
<%= render "shared/components/hero_section" %>
<div class="section features-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="description pl-4">
            <h5 class="title">クイズを出題する</h5>
            <p>
              クイズを作って出題することができます。
              正答率や回答者数がわかるので他のクイズを作る時の参考にもなります。
            </p>
            <%= link_to "クズ男の特徴を投稿する", new_user_quiz_path, class: 'text-info' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">他の人のクイズに回答する</h5>
            <p>
              他の人が作ったクイズに回答することができます。
              正答率の低い問題に正解できるでしょうか？
            </p>
            <%= link_to "他の人の投稿を見る", quizzes_path, class: 'text-info' %>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">SNSでシェア</h5>
            <p>
              作ったクイズや他の人のクイズはTwitterやFaceBookでシェアすることができます。<br>
              友達にも答えてもらってどれくらいの人が正解できるかを確認してみましょう。
            </p>
            <%= link_to "他の人の投稿一覧を見る", quizzes_path, class: 'text-info' %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5" src="/argon/assets/img/ill/ill.png" width="100%">
      </div>
    </div>
  </div>
</div>