<div class="container">
  <div>
    <h3 class="font-weight-bold">人気クイズ</h3>
    <div class="quiz-box">
      <h4 class="font-weight-bold">パンはパンでも食べられないパンってなんだ？</h4>
      <div>
        ヒント: 家にあるものです。
      </div>
      <div>
        解答者数: 100人<br>
        正答率: 94%<br>
      </div>
    </div>
    <div class="quiz-box mb-3">
      <h4 class="font-weight-bold">パンはパンでも食べられないパンってなんだ？</h4>
      <div>
        ヒント: 家にあるものです。
      </div>
      <div>
        解答者数: 100人<br>
        正答率: 94%<br>
      </div>
    </div>
    <div class="quiz-box">
      <h4 class="font-weight-bold">パンはパンでも食べられないパンってなんだ？</h4>
      <div>
        ヒント: 家にあるものです。
      </div>
      <div>
        解答者数: 100人<br>
        正答率: 94%<br>
      </div>
    </div>
  </div>
  <div>
    <h3 class="font-weight-bold">新着クイズ</h3>
    <div class="quiz-box">
      <h4 class="font-weight-bold">パンはパンでも食べられないパンってなんだ？</h4>
      <div>
        ヒント: 家にあるものです。
      </div>
      <div>
        解答者数: 100人<br>
        正答率: 94%<br>
      </div>
    </div>
    <div class="quiz-box mb-3">
      <h4 class="font-weight-bold">パンはパンでも食べられないパンってなんだ？</h4>
      <div>
        ヒント: 家にあるものです。
      </div>
      <div>
        解答者数: 100人<br>
        正答率: 94%<br>
      </div>
    </div>
    <div class="quiz-box">
      <h4 class="font-weight-bold">パンはパンでも食べられないパンってなんだ？</h4>
      <div>
        ヒント: 家にあるものです。
      </div>
      <div>
        解答者数: 100人<br>
        正答率: 94%<br>
      </div>
    </div>
  </div>
</div>
