<% set_meta_tags title: "",
                 description: "クイズパーティーは簡単にクイズを出題したり、回答したりできるクイズプラットフォームです。",
                 og: {
                   title: "クイズパーティー",
                   description: "クイズパーティーは簡単にクイズを出題したり、回答したりできるクイズプラットフォームです。",
                   image: image_url("top_ogp.jpg")
                 }
%>

<div class="container mt-4">
  <section class="my-4">
    <h2>人気クイズ</h2>
    <% @popular_quizzes.each do |quiz| %>
      <%= render "shared/components/quiz_item", quiz: quiz %>
    <% end %>
    <div class="text-center mt-3">
      <%= link_to "もっと見る", quizzes_path, class: "btn btn-primary" %>
    </div>
  </section>
  <section class="my-4">
    <h2 class="font-weight-bold">新着クイズ</h2>
    <% @new_quizzes.each do |quiz| %>
      <%= render "shared/components/quiz_item", quiz: quiz %>
    <% end %>
    <div class="text-center mt-3">
      <%= link_to "もっと見る", quizzes_path, class: "btn btn-primary" %>
    </div>
  </section>
</div>
