<% if is_correct %>
  <p class="font-size-22 font-weight-bold">正解</p>
  <%= image_tag("circle.png", class: 'd-block') %>
<% else %>
  <p class="font-size-22 font-weight-bold">不正解</p>
  <%= image_tag("times.png", class: 'd-block') %>
<% end %>
<div>
  <h3 class="font-size-22 font-weight-bold">あなたの答え</h3>
  <div><%= response.content %></div>
</div>

<div>
  <h3 class="font-size-22 font-weight-bold">解答</h3>
  <div>
    <%= answers.map(&:content).join("、") %>
  </div>
</div>
