<% if is_correct %>
  <p>正解</p>
<% else %>
  <p>不正解</p>
<% end %>
<div>
  <h2>あなたの答え</h2>
  <div><%= response.content %></div>
</div>

<div>
  <h2>解答</h2>
  <div>
    <% answers.each do |answer| %>
      <%= answer.content %>
    <% end %>
  </div>
</div>
