<div class="container mt-4">
  <section class="my-4">
    <h2 class="display-4">
      <%= @user.user_name %>さんのプロフィール
    </h2>
    <div class="mt-3">
      <%= @user.user_profile.biography %>
    </div>
    <div class="mt-3 pt-2 border-top border-primary">
      <h3>クイズ一覧</h3>
      <% @quizzes.each do |quiz| %>
        <%= render "shared/components/quiz_item", quiz: quiz %>
      <% end %>
      <%= paginate @quizzes %>
    </div>
  </section>
</div>